@using Gestao.Application.DTO.Generic;
@model GList<Gestao.Application.DTO.Comanda.ObterComandaDTO>


<div class="card">
    <div class="card-header d-flex flex-column justify-content-center ">
        <div class="d-flex justify-content-center">
            @if ((bool)ViewData["StatusDia"])
            {
                <a class="btn btn-success" asp-action="Create" asp-route-idAberturaDia="@ViewBag.IdAberturaDia"><span><i class="bi bi-bag-plus"></i></span> Adicionar Comanda</a>
            }
        </div>

        <div class="flex-row row mt-3 d-flex justify-content-center">
            <input id="pesquisa-txt-mobile" class="form-control mr-2 col-8" type="text" value="" />
            <a class="btn btn-outline-primary col-2" onclick="getData(0)"><i class="bi bi-search"></i></a>
        </div>
    </div>
</div>


@foreach (var item in Model.DTOs)
{
    <div class="card m-4">
        <div class="card-header d-flex justify-content-center">
            <h5>@item.Nome</h5>
        </div>

        <div class="card-body">
            <div class="d-flex flex-column container">
                <div class="flex-row mt-2">
                    <span>Nome Cliente:</span>
                    <span>@item.NmCliente</span>
                </div>
                <div class="flex-row mt-2">
                    <span>Total:</span>
                    <span>@item.Total</span>
                </div>
                <div class="flex-row mt-2">
                    <span>Status:</span>
                    @if (item.ComandaFechada)
                    {
                        <span class="text-secondary">Fechada</span>
                    }
                    else
                    {
                        <span class="text-success">Aberta</span>
                    }
                </div>
                <hr />
                <div class="flex-row mt-3 d-flex justify-content-center">
                    <a class="btn btn-outline-primary mx-2" asp-action="Detail" asp-route-id="@item.Id" asp-route-idAberturaDia="@item.AberturaDiaId"><i class="bi bi-arrows-fullscreen"></i> Itens</a>
                    @if (!item.ComandaFechada && (bool)ViewData["StatusDia"])
                    {
                        <a class="btn btn-outline-info mx-2 btn-link-aj" onclick="fecharComanda('@item.Id', '@item.AberturaDiaId')"><i class="bi bi-unlock text-info btn-link-aj"></i> Fechar</a>
                        <a class="btn btn-outline-warning mx-2" asp-action="Edit" asp-route-id="@item.Id" asp-route-idAberturaDia="@item.AberturaDiaId"><i class="bi bi-pencil-square btn-link-aj"></i> Editar</a>
                        <a class="btn btn-outline-danger mx-2" onclick="excluirComanda('@item.Id', '@item.AberturaDiaId')"><i class="bi bi-trash text-danger"></i> Excluir</a>
                    }
                </div>
            </div>
        </div>
    </div>
}


<div class="mt-5 d-flex justify-content-center">
    <partial name="_PaginationPartial" model="@(Model.MetaData)">
</div>