@model IEnumerable<Gestao.Application.DTO.Usuario.ObterUsuarioDTO>

@{
    ViewData["Title"] = "Usuários";
}

@await Html.PartialAsync("../Shared/_Notification")

<div class="card">
    <div class="card-header">
        <a class="btn btn-success" asp-action="Create"><span><i class="bi bi-person-fill-add"></i></span> Adicionar usuário</a>
    </div>

    <div class="card-body">
        <table class="table" id="table-usuario">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th class="d-none d-sm-block">
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RoleName)
                    </th>
                    <th>
                        Status
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td class="d-none d-sm-block">
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RoleName)
                        </td>
                        <td>
                            @if (item.Habilitado)
                            {
                                <span class="text-success">Ativo</span>
                            }
                            else
                            {
                                <span class="text-warning">Bloqueado</span>
                            }
                        </td>
                        <td>
                            <div class="gap-3">
                                @if (item.Habilitado)
                                {
                                    <a class="btn btn-outline-danger text-danger" onclick="atualizarStatus('@item.Id', '@item.Habilitado')"><i class="bi bi-person-fill-dash"></i> Desabilitar</a>
                                }
                                else
                                {
                                    <a class="btn btn-outline-success text-success" onclick="atualizarStatus('@item.Id', '@item.Habilitado')"><i class="bi bi-person-fill-check"></i> Habilitar</a>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="~/js/usuarios/usuarios.js"></script>
