@using Gestao.Application.DTO.Generic;
@using Gestao.Application.DTO.Produto;
@model GList<ObterProdutoDto>


<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <h5>Selecione um produto</h5>
            <div class="flex-row row">
                <input id="pesquisa-txt-partial" class="form-control mr-2 col-8" type="search" value="" />
                <a class="btn btn-outline-primary col-2" onclick="getDataModal(0)"><i class="bi bi-search"></i></a>
            </div>
        </div>
    </div>

    <div class="card-body">
        <table class="table table-bordered table-sm" id="table-produto">
            <thead>
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        Preco
                    </th>
                    <th>
                        Quantidade
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.DTOs)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Preco)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantidade)
                        </td>
                        <td>
                            <div class="d-flex justify-content-start">
                                <a class="btn btn-outline-primary text-primary" title="Selecionar" onclick="selecionarProduto('@item.Id')"><i class="bi bi-box-arrow-down-left"></i></a>
                            </div>                          
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="mt-2 d-flex justify-content-center">
        <partial name="_PaginationModalPartial" model="@(Model.MetaData)">
    </div>
    <div class="card-footer">
        <a class="btn btn-secondary text-white" onclick="closeModal('modal-produto')">Fechar</a>
    </div>
</div>

<input type="hidden" id="idProd" />
<input type="hidden" id="id-prod-qtd" />


<script>
    function getCustomHrefModal(page) {
        let pesquisa = $("#pesquisa-txt-partial").val();

        return "/Produto/PesquisarProdutoPartial?search="+pesquisa+"&page="+page;
    }

    function getDataModal(page) {
        getProducts(getCustomHrefModal(page), "produtos")
    }

    function closeModal(modalId) {
        $('#' + modalId).modal('hide');
    }

    function getProducts(url, divId) {
    $.ajax({
        url: url,
        type: "GET",
        dataType: "html",
        success: function (response) {
            $("#" + divId).html(response);
        },
        error: function (e) {
            if (e.status === 400)
                alert(e.responseText);
            else
                alert("Não foi possível completar a transação!");
        }
    }).done(function (results) {
    });
}
</script>
