@using Gestao.Application.DTO.Generic;
@model GList<Gestao.Application.DTO.Cliente.ObterClienteDTO>

<div class="card">
     <div class="card-header d-flex justify-content-end">
        <div class="flex-row row">
            <input id="pesquisa-txt" class="form-control mr-2 col-8" type="search" />
            <a class="btn btn-outline-primary col-2" onclick="getClienteModal(0)"><i class="bi bi-search"></i></a>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-bordered" id="table-cliente">
            <thead>
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        CPF
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.DTOs)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cpf)
                        </td>
                        <td>
                            <div class="gap-3">
                                <a class="btn btn-outline-primary" title="Selecionar" onclick="selecionarCliente('@item.Id', '@item.Nome')"><i class="bi bi-box-arrow-down-left"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-center">
        <div class="pagination-container">
            <ul class="pagination">

                @if (Model.MetaData.HasPreviousPage)
                {
                    <li class="PagedList-skipToPrevious"><a onclick="getClienteModal('@(Model.MetaData.PageNumber-1)', 'desktop')">&lt;</a></li>
                }

                @for (int i = 0; i < Model.MetaData.PageCount; i++)
                {
                    int pageNumber = i + 1;
                    string active = Model.MetaData.PageNumber == pageNumber ? "active" : "";

                    <li class="@active" onclick="getClienteModal('@pageNumber', 'desktop')"><span>@(pageNumber)</span></li>

                }

                @if (Model.MetaData.HasNextPage)
                {
                    <li class="PagedList-skipToNext"><a onclick="getClienteModal('@(Model.MetaData.PageNumber+1)', 'desktop')">&gt;</a></li>
                }
            </ul>
        </div>
    </div>
</div>



